.event {
    /* background-color: black; */
    color: white;
    width: 300px;
    height: fit-content;
    padding: 5px;
    display: flex;
    direction: row;
    border-radius: 20px;
    cursor: pointer;
    background-size: cover; /* Ensures the background image covers the entire container */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-position: center; /* Centers the background image */
}

.right > img {
    color: white;
    width: 35px;
    height: 35px;
}

.right {
    justify-items: flex-end;
    margin: 0 auto;
    padding-left: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 120px;
}

.title {
    font-size: 30px;
    margin-bottom: 80px;
}